[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

MemoryCaptures/

*.apk
*.aab

*_BurstDebugInformation*
*_BackUpThisFolder_ButDontShipItWithYourGame*

.DS_Store
Thumbs.db

.vscode/
.vs/
.idea/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp

Assets/Settings/ARCoreConfig.asset
Assets/Settings/ARCoreConfig.asset.meta
Assets/Settings/ARCoreConfig.asset.metaProjectSettings/ARCoreExtensionsProjectSettings.json
ProjectSettings/ARCoreExtensionsProjectSettings.json
